#stage-parent {
  width: 100%;
}

.container-fluid {
  background-color: #f5f5f5 !important;
}

#menu {
  display: none;
  position: absolute;
  width: 60px;
  background-color: white;
  box-shadow: 0 0 5px grey;
  border-radius: 3px;
}

#menu button {
  width: 100%;
  background-color: white;
  border: none;
  margin: 0;
  padding: 10px;
}

#menu button:hover {
  background-color: lightgray;
}

#buttons {
  position: absolute;
  left: 10px;
  top: 100px;
}
button {
  margin-top: 10px;
  display: block;
}

.button-color {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}
.button-color-draw {
  width: 42px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
}
.button-texto {
  min-width: 140px;
  height: 42px;
  border-radius: 10px;
  cursor: pointer;
  margin: 5px;
  font-size: 15px;
  color: #fff;
  padding: 9px;
  font-weight: 700;
}
.container-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container-pencils {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.button-selected {
  border: 3px solid #0d6efd;
}
.button-color-draw.active{
  border: 2px solid #03f500;
  padding: 2px;

}

span.iconA {
  font-size: 18px;
  color: #fff;
  padding-top: 10px;
}

.panel-body.dash {
  padding: 5px;
}
canvas:focus,.konvajs-content:focus,#container:focus,#stage-parent:focus {
  outline-width: 1px;
  outline-style: solid;
  outline-color: white;
}
img.button-color-draw {
  width: 42px;
  height: 33px;
}

.button-pencils {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 42px;
  height: 42px;
  border-radius: 10px;
  background-color:#00ff9d;
  cursor: pointer;
  margin: 5px;
}
.button-pencils.active-pincel{
  border: 2px solid #f51000;
  padding: 2px;

}
.sizeCircle3{
  height: 5px;
  width: 5px;
  border-radius: 50px;
  background-color: black;
  margin: auto;
}
.sizeCircle6{
  height: 10px;
  width: 10px;
  border-radius: 50px;
  background-color: black;
  margin: auto;
}
.sizeCircle9{
  height: 15px;
  width: 15px;
  border-radius: 50px;
  background-color: black;
  margin: auto;
}
.sizeCircle12{
  height: 20px;
  width: 20px;
  border-radius: 50px;
  background-color: black;
  margin: auto;
}